<%- include("./partials/header"); -%>
    <div class="logo">
    <img src="../images/formula-1-logo-7.png" alt="lion brewery" />
    </div>
    <div>
    <h1><strong>Welcome to F1 <i>DB</i></strong></h1>
    </div>
    
    <form action="/add" method="POST">
        <h2><i>Driver information</i></h2>
        <input type="text" name="num" id="num" placeholder="Number" />
        <input type="text" name="code" id="code" placeholder="Code" />
        <input type="text" name="name" id="name" placeholder="Name" />
        <input type="text" name="lname" id="lname" placeholder="Last name" />
        <br />
        <label for="dob">Date of birth: </label>
        <input type="date" name="dob" id="dob" />
        <label for="url">Biography URL: </label>
        <input type="url" name="url" id="url" />
        <br />
        <label for="nation">Nationality: </label>
        <select name="nation" id="nation">
            <%countries.forEach((pays, i)=>{%>
                <option value="<%=pays.code%>"><%=pays.label%></option>
            <%})%>
            
        </select>
        <label for="team">Team: </label>
        <select name="team" id="team">
            <%equipe.forEach((eq, i)=>{%>
                <option value="<%=eq.code%>"><%=eq.label%></option>
            <%})%>

        </select>
        <p> <input type="submit" /> </p>

    </form>
    
    <div>
        <h2><i>Registered Drivers</i></h2>
        

        <table class="driverTable">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Code</th>
                    <th>Forename</th>
                    <th>Surname</th>
                    <th>DoB</th>
                    <th>Nationality</th>
                    <th>URL</th>
                    <th>Current Team</th>
                </tr>
            </thead>
            <tbody>
                <%if(arrDrivers.length > 0){%>
                    <%arrDrivers.forEach((dr, i)=>{%>
                        <%if(editDriver._id.toString()!==dr._id.toString()){%>
                        <tr>
                            <td><%=dr.num%>
                                <a href="/edit?dr=<%=dr._id%>">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td><%=dr.code%>
                                <a href="/edit?dr=<%=dr._id%>">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td><%=dr.forename%>
                                <a href="/edit?dr=<%=dr._id%>">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td><%=dr.surname%>
                                <a href="/edit?dr=<%=dr._id%>">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td><%=dr.dob.toLocaleDateString()%>
                                <a href="/edit?dr=<%=dr._id%>">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td><%=dr.nationality%>
                                <a href="/edit?dr=<%=dr._id%>">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td><%=dr.team.url%>
                                <a href="/edit?dr=<%=dr._id%>">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td><%=dr.team.name%>
                                <a href="/edit?dr=<%=dr._id%>">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            
                        </tr>
                        <%}else{%>
                        <form method="GET" action="/save">
                            <div class="saveBtn">
                                <button type="submit" name="_id" value="<%= dr._id %>">
                                    <i class="fa-solid fa-square-check"></i> Save
                                </button>
                            </div>
                            <tr>
                            <td>
                                <input value="<%= dr.num %>" name="num" id="num_<%= dr._id %>">
                            </td>
                            
                            <td>
                                <input value="<%= dr.code %>" name="code" id="code_<%= dr._id %>">
                            </td>
                            
                            <td>
                                <input value="<%= dr.forename %>" name="forename" id="forename_<%= dr._id %>">
                            </td>
                            
                            <td>
                                <input value="<%= dr.surname %>" name="surname" id="surname_<%= dr._id %>">
                            </td>
                            
                            <td>
                                <input type="date"  value="<%= dr.dob.toISOString().split('T')[0] %>" name="dob" id="dob_<%= dr._id %>">
                            </td>
                            
                            <td>
                            <select name="nationality" id="nationality_<%= dr._id %>">
                                <% countries.forEach((pays, i) => { %>
                                    <option value="<%= pays.code %>" <%= pays.code === dr.nationality ? 'selected' : '' %>>
                                        <%= pays.label %>
                                    </option>
                                <% }) %>
                            </select>
                                
                            </td>
                            
                            <td>
                                <input value="<%= dr.team.url %>" name="url" id="url_<%= dr._id %>">
                            </td>
                            
                            <td>
                            
                            <select name="name" id="team_name_<%= dr._id %>">
                                <% equipe.forEach((eq, i) => { %>
                                    <option value="<%= eq.code %>" <%= eq.code === dr.team.name ? 'selected' : '' %>>
                                        <%= eq.label %>
                                    </option>
                                <% }) %>
                            </select>
                            </td>
                    
                            
                            
                            </tr>
                        </form>
                            
                        <%}%>

                    <%})%>
                <%}else{%>
                    <tr>
                        <td colspan="9">No Drivers</td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        
    </div>

    <%- include("./partials/footer"); -%>