<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express test</title>
</head>

<body>
    <% if (locals.error) { %>
        <h3>
            <%= error %>
        </h3>
        <% } else { %>
            
            <form action="/greet" method="GET">
                <p>Register:</p>
                <input type="text" name="name" id="name" placeholder="Name">
                <input type="submit" value="go next">
            </form>
            
            <ul>
            <% names.forEach((vals, i)=>{%>
                <li><a href="/sup?vals=<%=vals%>">Hello, <%= vals %> </a>
                </li>
                <%});%>
            </ul>

            <h2>TODO List</h2>
            <ul>
            <% tasks.forEach((task, j)=>{%>
                    <li><a href="/delete?idx=<%=j%>">|del|</a> <%=task%> <a href="/up?idx=<%=j%>">^</a> <a href="/down?idx=<%=j%>">v</a></li>
                <%});%>
            </ul>

            <h3>Submit Task</h3>
            <form action="/task" method="POST">
                <input type="text" name="tsk" placeholder="Write Task">
                <input type="submit" value="Add">
            </form>

        <%}%>

</body>

</html>